.canvasContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.App {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 1;
}

.ButtonHome1 {
  border-radius: 70%;
}

.ButtonHome2 {
  border-radius: 90%;
  background-image: url("https://i.imgur.com/lg1emBK.png");
  background-size: contain;
}

.parent {
  position: fixed;
  left: 30%;
  right: 30%;
  top: 80%;
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.parent button {
  margin: auto;
  background-color: #d64b39;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.parent button:active {
  background-color: #d64b39;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}

.plane {
  color: green;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 20%;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 100px;
  z-index: 4;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}

.level {
  position: relative;
  top: -18px;
  left: 10px;
}

.hidden {
    display: none;
}

.luckyButton {
  background-image: "https://d33wubrfki0l68.cloudfront.net/554c3b0e09cf167f0281fda839a5433f2040b349/ecfc9/img/header_logo.svg";
}

.box.has-background-purple {
    background-color: rgb(247, 105, 255);
}

.overflow-y-auto {    
    overflow-y: auto;
}

.overflow-y-scroll {    
    overflow-y: scroll;
}
.luckyDiceButton {
  background-image: url("https://i.imgur.com/lg1emBK.png");
  width: auto;
  height: auto;
  position: absolute;
  top: 80vh;
  left: 80vh
}